@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder {@content}
  &::-moz-placeholder {@content}
  &:-ms-input-placeholder {@content}
}

mn-input {
  position: relative;
  display: inline-block;
  margin: 1.5em .1em 1em;
  transform: translateZ(0);

  input {
    width: 100%;
    border: 0;
    outline: 0;
    line-height: 2em;
    font-size: 1em;
    box-sizing: border-box;
    padding: 0 .1em;
    margin-bottom: .5em;
    box-shadow: 0 1px 0 map-get($mn-black-color, 200);
    appearance: none;
    border-radius: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: box-shadow .2s ease;
    text-overflow: ellipsis;
    background-color: transparent;


    @include placeholder {
      color: transparent;
      pointer-events: none;
    }

    &[readonly] {
      pointer-events: none;
    }

    &:focus {
      box-shadow: 0 2px 0 map-get($mn-primary-color, 900);
    }


    &:disabled {
      box-shadow: 0 1px 0 map-get($mn-black-color, 50);
      color: map-get($mn-primary-color, 200);
    }
  }
}
