$tickness: 1px;
$focus-tickness: 2px;
$border-color: $oc-red-5;
$label-color: $oc-red-7;

form.submitted .mn-input.invalid {
  box-shadow: 0 $tickness 0 $border-color;
  &.focused {box-shadow: 0 $focus-tickness 0 $border-color}

  &:before {
    color: $label-color;
  }

  &.invalid:before {
    content: attr(placeholder) ' is invalid'
  }

  &.required:before {
    content: attr(placeholder) ' is required'
  }
}
