form.submitted mn-input {
  &:invalid {
    box-shadow: 0 2px 0 map-get($mn-warning-color, 400);
  }

  &:invalid + label {
    color: map-get($mn-warning-color, 500);
  }
}

mn-input input.touched {
  &:invalid {
    box-shadow: 0 2px 0 map-get($mn-warning-color, 400);
  }

  &:invalid + label {
    color: map-get($mn-warning-color, 500);
  }
}
