.mn-input {
  &:before {
    content: attr(placeholder);
    position: absolute;
    top: 5px;
    left: .1em;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;

    font-size: 1em;

    color: $oc-gray-6;
    transition: transform .2s ease, color .2s ease;
    transform-origin: left center;
    transform: translateZ(0);
    pointer-events: none;
  }

  &[disabled]:before {
    content: attr(placeholder) ' disabled';
    color: $oc-gray-5;
  }

  &.focus:before, &.has-value:before {
    transform: translate(0, -1.3em) scale(.8) translateZ(0);
  }
}
