html
  meta(name='viewport' content='width=device-width, user-scalable=no')

  block styles
    link(rel='stylesheet' href='docs/vendor.css')
    link(rel='stylesheet' href='dist/mn-input.css')

  style.
    mn-input {
      font-size: 1.2rem;
    }

    form {width: 100%}

    @media (min-width: 600px) {
      form {
        padding: 100px;
        box-sizing: border-box;
      }
    }
body
  h2 mn-input
  include github-corner

  .layout-fullscreen.layout-centered
    .layout-container
      mn-form.layout-column.layout-sm-row
        mn-input.flex#username(placeholder='username' required max='10' min='0' step='5')
        mn-input.flex#firtname(placeholder='firtname')
        mn-input.flex#lastname(placeholder='lastname')
        //- button submit

  .docs.layout-container
    mn-code.sh.
      # to install this module
      bower install --save mn-input

    p Or just download the main files, located in dist/

    h3 usage

    p in your html, you can use the tag <strong class="tag">mn-input</strong> i.e.
    mn-code.html.
      <mn-input placeholder="Username"></mn-input>

    p Other attributes are supported, like:

    ul
      li: a(href='http://www.w3schools.com/tags/att_input_placeholder.asp') placeholder
      li: a(href='http://www.w3schools.com/tags/att_input_value.asp') value
      li: a(href='http://www.w3schools.com/tags/att_input_name.asp') name
      li: a(href='http://www.w3schools.com/tags/att_input_autofocus.asp') autofocus
      li: a(href='http://www.w3schools.com/tags/att_input_maxlength.asp') maxlength
      li: a(href='http://www.w3schools.com/tags/att_input_pattern.asp') pattern
      li: a(href='http://www.w3schools.com/tags/att_input_readonly.asp') readonly
      li: a(href='http://www.w3schools.com/tags/att_input_required.asp') required
      li: a(href='http://www.w3schools.com/tags/att_input_disabled.asp') disabled
      li: a(href='https://developers.google.com/web/updates/2015/04/autocapitalize') autocapitalize

  block scripts
    script(src='docs/vendor.js')
    script(src='dist/mn-input.js')
