html
  meta(name='viewport' content='width=device-width, user-scalable=no')

  link(rel='stylesheet' href='https://rawgit.com/minimalist-components/mn-input/master/docs/vendor.css')
  link(rel='stylesheet' href='https://rawgit.com/minimalist-components/mn-input/master/dist/mn-input.css')
  //- link(rel='stylesheet' href='docs/vendor.css')
  //- link(rel='stylesheet' href='dist/mn-input.css')

  style.
    mn-input {
      font-size: 1.2rem;
    }

    form {width: 100%}

    @media (min-width: 600px) {
      form {
        padding: 100px;
        box-sizing: border-box;
      }
    }
body
  h2 mn-input
  include github-corner

  .layout-fullscreen.layout-centered
    .layout-container
      form.layout-column.layout-sm-row
        mn-input.flex(placeholder='username')
        mn-input.flex(placeholder='password' type='password')
        mn-input.flex(placeholder='email' type='email')



  script(src='https://rawgit.com/minimalist-components/mn-input/master/docs/vendor.js')
  script(src='https://rawgit.com/minimalist-components/mn-input/master/dist/mn-input.js')
  //- script(src='docs/vendor.js')
  //- script(src='dist/mn-input.js')
