html
  meta(name='viewport' content='width=device-width, user-scalable=no')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans')
  //- link(rel='stylesheet' href='vendor.css')
  //- link(rel='stylesheet' href='mn-input.css')
  style
    include ../../docs/vendor.css
    include ../../dist/mn-input.css

  style.
    mn-input {
      font-size: 1.2rem;
    }

    form {width: 100%}

    @media (min-width: 600px) {
      form {
        padding: 100px;
        box-sizing: border-box;
      }
    }
body
  h2 mn-input
  include github-corner

  .layout-fullscreen.layout-centered
    .layout-container
      form.layout-column.layout-sm-row
        mn-input.flex(placeholder='username')
        mn-input.flex(placeholder='password' type='password')
        mn-input.flex(placeholder='email' type='email')



  script
    include ../../docs/vendor.js
    include ../../dist/mn-input.js
  //- script(src='vendor.js')
  //- script(src='mn-input.js')
